<nav class="navbar navbar-light bg-white">
  <a class="navbar-brand" href="<%= root_path %>">
    <img class="d-inline-block align-top" src=<%= image_url('svg_icons/mic.svg') %>  alt="" width="24" height="24">
    namedropped - "the Google Alerts of podcasts"
  </a>
  <a class="btn btn-outline-primary" href="<%= alerts_path %>">Get notified</a>
</nav>

<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= flash[:notice] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% elsif flash[:error] %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= flash[:error] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>
